.desktop-content {
    display: none;

    background: #181c2c;
    color: #fff;

    width: 100%;
    height: 100%;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: $mdx_s) {
        display: flex;
    }
}
