//- Alerts text

mixin text(content, format, color)
  if format === 'bold'
    strong(class=color ? `color-${color}` : '')= content
  else if format
    span(class=color ? `color-${color}` : '')= format(content)
  else
    span(class=color ? `color-${color}` : '')= content

mixin alertItem(className)
  li.item(class=className)
    block