.account-search
  .form
    .container.form-search
      .form-group.search-input.search-input-focus
        input#name.form-control(type="text" placeholder="SEARCH LOGIN" value="841354" required)
        .search-input_btn
          svg.icon.close
            use(xlink:href="/img/sprites/sprite.svg#close")
          .border-vertical
          svg.icon.search
            use(xlink:href="/img/sprites/sprite.svg#search")
      .filter
        .filter-item.active
          span all
        .filter-item
          span online
        .filter-item
          span offline
      hr
  .search-result
    .container
      .swiper-block
        .swiper.search-result-swiper
          .swiper-wrapper
            .swiper-slide
              +search-result-full
  include ../../../../modules/pagination/pagination