extends ../../layouts/default
include ../../helpers/mixins

block variables
  - const title = "Account profile"

block content
  .account.container
    - const iconNames = ['profile', 'search', 'calendar', 'settings', 'notice'];
    - const activeIndex = 0; 


      .account-navigation
        each iconName, index in iconNames
          +account-nav(iconName, index === activeIndex)
      .handle-back
        button.btn.btn-back.btn-back__change-password.container
          svg.icon
            use(xlink:href="/img/sprites/sprite.svg#arrow")
          span 986657
      .account-content
        include ../../../blocks/components/account/account-home/account-home
      include ../../../blocks/components/account/account-balance-info/account-balance-info