extends ../../layouts/default
include ../../helpers/mixins

block variables
  - const title = "Search"

block content
  .account.container
    - const iconNames = ['profile', 'search', 'calendar', 'settings', 'notice'];
    - const activeIndex = 1; 


      .account-navigation
        each iconName, index in iconNames
          +account-nav(iconName, index === activeIndex)
      .account-content
        include ../../../blocks/components/account/account-search/account-search
      include ../../../blocks/components/account/account-balance-info/account-balance-info