extends ../../layouts/default
include ../../helpers/mixins

block variables
  - const title = "Search"

block content
  .account.container
    - const iconNames = ['profile', 'search', 'calendar', 'settings', 'notice'];
    - const activeIndex = 3; 


      .account-navigation
        each iconName, index in iconNames
          +account-nav(iconName, index === activeIndex)
      .account-content(style="height: auto")
        include ../../../blocks/components/launch-setting/launch-setting.pug
        include ../../../blocks/components/account/account-balance-info/account-balance-info