extends layouts/default
include helpers/mixins

block variables
	- const title = "General Page"

block content
	include ../blocks/components/alerts/alerts
	include ../blocks/components/alerts_banner/alerts_banner

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")