extends layouts/default
include helpers/mixins

block variables
	- const title = "General Page"

block content
	include ../blocks/modules/desktop-content/desktop-content
	include ../blocks/modules/mobile-content/mobile-content
