extends layouts/default
include helpers/mixins

block variables
	- const title = "Site Map"

block content
	.sitemap
		.container(style="background: #252b3f; padding: 0.67em; height: 100%;")
			h1.title(style="margin-top: 0; padding-top: 0.67em") Site Map:
			ul
				h2.title Auth
				li 
					a.link(href="/auth/") Form
					ul
						li
							a.link(href="/auth/tab.html") Form tabs
						li
							a.link(href="/auth/value.html") Form value
				li
					a.link(href="/auth/change-password.html") Change password

			ul
				h2.title Launch Setting
				li
					a.link(href="/launch-setting/") Launch Setting

			ul
				h2.title Account
				li
					a.link(href="/account/") Home
				li
					a.link(href="/account/search.html") Search
					ul
						li
							a.link(href="/account/search-result.html") Search Result
				li
					a.link(href="/account/history.html") History
					ul
						li
							a.link(href="/account/history-print.html") History Print
						li
							a.link(href="/account/history-print-done.html") History Print Done
				li
					a.link(href="/account/settings.html") Settings
				li 
					a.link(href="/account/notice.html") Notification



block scripts
	script(src="/js/vendor.js")
	script(src="/js/main.js")

