.alerts-banner.hidden(id='bottomBanner')
  .info
    .close(id='closeBottomBanner')
      svg
        use(xlink:href="img/sprites/sprite.svg#close")
    .title Black Friday
    .value 10%OFF
    .text Use code <span class="orange">10FRIDAY</span> at checkout
    a.button(href="#") 
      span Shop now through Monday