.alerts(id='topBanner')
  img.image(src='img/images/alerts-bg.png' alt='alerts')
  .message
    ul.list
      +alertItem('date')
        +text('Black Friday', 'bold', null)
        +text(', 24-27 Nov', null, null)
      +alertItem('sale')
        +text('10%OFF', 'bold', 'orange')
      +alertItem('use-code')
        +text('Use code ', null, null)
        +text('10FRIDAY', 'bold', 'orange')
        +text(' at checkout ', null, null)
      .next
        svg
          use(xlink:href="/img/sprites/sprite.svg#arrow-next")
  .actions
    a.button.button--border.button--bg(href='#') 
      span Shop now
    .close
      svg
        use(xlink:href="img/sprites/sprite.svg#close")
