//- .pagination.swiper-pagination
//-   .last-page
//-     svg.icon
//-       use(xlink:href="/img/sprites/sprite.svg#arrow")

.pagination
  .container
    .pagination-wrapper
      +pagination(7)
      .last-page
        svg.icon
          use(xlink:href="/img/sprites/sprite.svg#arrow")