.pagination {
    &.swiper-pagination {
        @include pxToEm(margin-top, 5);
        position: relative;

        top: unset;
        left: unset;

        .swiper-pagination-bullet {
            border: 2px solid rgba(255, 255, 255, 0.3);
            height: 100%;
            min-width: 30px;
            border-radius: 0;
            background: transparent;
        }
    }
}

.pagination {
    width: 100%;
    display: inline-block;

    @include pxToEm(margin-top, 10);
    @include pxToEm(margin-bottom, 10);
    &-wrapper {
        @include flexbox($alignItems: center, $wrap: wrap);
        @include pxToEm(padding-top, 10);
        border-top: 1px solid #8e95ac;

        @media (min-width: 993px) {
            justify-content: flex-end;
        }

        @media (max-width: 993px) and (orientation: landscape) {
            justify-content: flex-end;
        }
    }

    &-item,
    .last-page {
        @include flexbox($alignItems: center, $justifyContent: center);
        @include font(12, 12, 500, $white);

        width: 100%;
        max-width: 44px;
        height: 24px;
        border: 2px solid transparent;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 2px;
        margin: auto;

        @media (min-width: 993px) {
            margin: 0 2px;
        }

        @media (max-width: 993px) and (orientation: landscape) {
            margin: 0 2px;
        }

        &:first-child {
            margin-left: 0;
        }

        &.active {
            border-color: rgba(255, 255, 255, 0.3);
        }
    }

    .last-page {
        @include pxToEm(padding, 4);
        background: rgba(255, 255, 255, 0.3);

        transform: rotate(180deg);
        transform-origin: center center;

        .icon {
            height: 100%;
            use {
                stroke-width: 4px;
                stroke: $white;
            }
        }
    }
}
