.auth {
    @include flexbox($alignItems: center, $flow: column nowrap);

    width: 100%;
    height: 100%;

    min-height: inherit;

    background: #1e2b59;
    box-shadow: 0px 4px 15px 0px $black;

    @media (max-width: $mdx) {
        &.auth-mobile-p {
            padding: 0;
        }
    }

    @media (min-width: $mdx_s) {
        border-radius: $border-radius;

        max-height: 95%;
        margin: 0 auto;

        .handle-back {
            margin-top: 10px;
        }
    }

    // background: rgba(30, 43, 89, 1);

    .btn {
        @include font(16, 16, 700, $white);
        text-transform: uppercase;

        cursor: pointer;

        &-login {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));

            border: 2px solid #ffffff1a;
        }

        &-change-password {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
            border: 2px solid #ffffff1a;
        }

        &-launch-setting {
            @include pxToEm(padding, 5);
            @include flexbox($alignItems: center, $justifyContent: center, $flow: row nowrap, $gap: 10px);

            width: 100%;
            min-height: 48px;
            max-height: 48px;
            margin-top: auto;
            margin-bottom: 20%;

            background: #283661;
            border: 2px solid #ffffff1a;
            text-transform: uppercase;
            border-radius: $border-radius;

            .icon {
                width: 30px;
                height: 30px;

                use {
                    fill: $white;
                    stroke: #283661;
                    stroke-width: 4px;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }

            span {
                @include font(16, 16, 700, $white);
                display: block;
            }

            @media (max-width: $mdx) and (orientation: landscape) {
                margin-bottom: 20px;
            }
        }

        &-send {
            background: $green;
            border-color: $green;
        }

        &-nav {
            @include font(16, 16, 700, $white);
            @include pxToEm(padding, 12);

            width: 100%;
            min-height: 48px;
            max-height: 48px;

            background: #626b8b;
            border: 2px solid transparent;

            text-transform: uppercase;
            box-shadow: 0px 4px 4px 0px #00000040;

            &--active {
                background: #1d2a59;
                border: 2px solid #c6cad5;
            }
        }
    }

    .login {
        @include flexbox($alignItems: center, $justifyContent: center, $flow: column nowrap, $gap: 10px);

        width: 100%;
        height: 100%;
    }

    .tab {
        @include flexbox($alignItems: center, $justifyContent: center, $flow: column nowrap, $gap: 10px);

        width: 100%;
        height: 100%;

        &__nav {
            @include flexbox($alignItems: center, $flow: row nowrap, $gap: 12px);
            @include pxToEm(padding-bottom, 10);

            border-bottom: 1px solid #fff;
        }

        &__nav,
        &__content {
            width: 100%;
        }
    }

    .change-password {
        @include flexbox($alignItems: center, $justifyContent: center, $flow: column nowrap, $gap: 10px);
        @include pxToEm(padding-top, 10);
        @include pxToEm(padding-bottom, 10);

        border-radius: $border-radius;
        width: 100%;
    }

    hr {
        @include pxToEm(margin, 10);

        width: 100%;
        border-width: 1px;
        border-color: #8e95ac;
    }

    #code,
    #login,
    #password,
    #old-password,
    #new-password,
    #confirm-password {
        text-align: center;

        &::placeholder {
            text-align: center;
        }
    }
}
