//- -const preloaderText = 'Loading...'


.view
  .container
    button.btn.btn-back.btn-back__change-password
      img.icon(src="/img/svg/arrow-left.svg" alt="back arrow")
      span change password
    .auth.auth--border.auth--padding
      form.change-password(action="#")
        .form-group
          input#code.form-control(type="number" placeholder="old password", required)
        .form-group
          input#code.form-control(type="number" placeholder="new password", required)
        .form-group
          input#code.form-control(type="number" placeholder="CONFIRM NEW PASSWORD", required)
        hr
        .form-group
          button.btn.btn-change-password(type="submit") Save
