.auth.container.auth-mobile-p
  .handle-back
    button.btn.btn-back.btn-back__change-password.container
      svg.icon
        use(xlink:href="/img/sprites/sprite.svg#arrow")
      span change password

  form.change-password.container(action="#")
    .form-group
      input#old-password.form-control(type="password" placeholder="old password", required)
    .form-group
      input#new-password.form-control(type="password" placeholder="new password", required)
    .form-group
      input#confirm-password.form-control(type="password" placeholder="CONFIRM NEW PASSWORD", required)
    hr
    .form-group
      button.btn.btn-change-password(type="submit") Save
