//- -const preloaderText = 'Loading...'


.view
  .container
    .auth
      form.login(action="#")
        .form-group
          input#code.form-control(type="number" placeholder="PIN CODE", required)
        .form-group
          button.btn.btn-login(type="submit") log in
      button.btn.btn-launch-setting
        img.spinner(src="/img/svg/settings.svg" alt="preloader")
        span LAUNCH SETTINGS