form {
    @include flexbox($alignItems: center, $justifyContent: center, $flow: column nowrap, $gap: 15px);
    width: 100%;
}

.form {
    &-group {
        width: 100%;

        input,
        button {
            @include pxToEm(padding, 12);

            width: 100%;
            border-radius: $border-radius;

            min-height: 48px;
            max-height: 48px;
        }

        input {
            @include font(16, 16, 700, $black);
            border: 2px solid transparent;
            outline: none;

            &::placeholder {
                @include font(16, 16, 700, #00000080);

                text-transform: uppercase;
            }
        }

        &__line {
            @include flexbox($alignItems: center, $justifyContent: center, $gap: 10px);
            width: 100%;
        }
    }

    &-check {
        @include flexbox($alignItems: center, $gap: 10px);

        label {
            @include pxToEm(padding, 6);

            background-color: rgba(255, 255, 255, 1);
            border-radius: $border-radius;

            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"] + label {
            cursor: pointer;
            user-select: none;
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 0;
        }

        input[type="checkbox"]:checked + label {
            background-image: url("../../../img/svg/checked.svg");
        }

        span {
            @include font(16, 16, 700, $white);
        }
    }

    &-select {
        select {
            @include font(16, 16, 700, $white);

            width: 100%;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 8px 30px 8px 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background: url("../../../img/svg/arrow-down.svg") no-repeat calc(100% - 10px) center / 15px;
            cursor: pointer;
        }

        select:focus {
            outline: none;
        }
    }
}
hr {
    @include pxToEm(margin, 0);

    width: 100%;
    border-width: 1px;
    border-color: #8e95ac;
}
