$xs: 320px;
$sm: 576px;
$md: 768px;
$mdx: 992px;
$mdx_s: 993px;
$lg: 1200px;
$lgx: 1440px;
$xl: 1920px;
$xxl: 2560px;

$white: #fff;
$black: #000;
$green: #55b63d;
$red: #ba2222;
$blue: #1f34ef;
$border-radius: 5px;

:root {
    --xs: 320;
    --sm: 576;
    --md: 768;
    --mdx: 992;
    --lg: 1200;
    --lgx: 1440;
    --xl: 1920;
    --xxl: 2560;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 14px;

    &::-webkit-scrollbar {
        display: none;
    }
}

* {
    box-sizing: border-box;
    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(255 255 255 / 25%);
        border-radius: 10px;
        opacity: 0.3;
    }
}

a {
    color: #688aff;
    text-decoration: none;
}

.view {
    @include flexbox($alignItems: center, $justifyContent: center, $flow: column nowrap);

    background: #181c2c;
    color: $white;

    height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);

    @media (max-width: $mdx_s) and (orientation: landscape) {
        height: 100vh;
    }
}

.handle-back {
    width: 100%;
    padding: 0 !important;

    .btn-back {
        width: 100%;
        border: none;

        cursor: pointer;

        &__change-password {
            @include flexbox($alignItems: center, $flow: row nowrap, $gap: 10px);
            @include pxToEm(padding, 15);
            background: rgba(24, 28, 44, 1);

            .icon {
                width: 20px;
                height: 20px;

                use {
                    stroke: $white;
                    stroke-width: 7px;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }

            span {
                @include font(18, 18, 700, $white);

                display: block;
                width: 100%;
                text-transform: uppercase;
            }
        }
    }
}
