// media как у bootstrap
$xs: 390px;
$sm: 760px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

:root {
    --xs: 390px;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;

    --orange: #d7a830;
}

html {
    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-track {
        background: rgb(215 215 215);
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(110 110 110);
        border-radius: 10px;
        opacity: 0.3;
    }
}

body {
    font-family: "Graphik", sans-serif;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.view {
    background: #fff;

    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100 * 2);
    height: 100%;
}
